{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- artist_profile.html content starts here -->

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'artists' %}" class="btn btn-secondary mb-3 loading-item1">Back to Artists</a>
        </div>
    </div>
    <div class="row loading-item3">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    {% if "placeholder" in artistprofile.artist_image.url %}
                    <img class="rounded-circle img-fluid mb-3" src="{% static 'images/nobody.jpg' %}"
                        alt="Profile Picture" width="150">
                    {% else %}
                    <img src="{{ artistprofile.artist_image.url }}" class="rounded-circle img-fluid mb-3"
                        alt="Profile Picture" width="150">
                    {% endif %}
                    <h3 class="card-title">{{artistprofile.name}}</h3>
                    <h4 class="card-subtitle mb-3 text-muted">{{artistprofile.location}}</h4>
                    <p class="card-text">{{artistprofile.about}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row loading-item4">
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for art in object_list %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="{% url 'art_details' art.slug %}">
                                <div class="card-img-container">
                                    {% if not art.art_image or "placeholder" in art.art_image.url %}
                                    <img class="card-img-top" src="{% static 'images/placeholder_image.png' %}"
                                        alt="{{ art.title }}">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ art.art_image.url }}" alt="{{ art.title }}">
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
            <!-- artist_profile.html content ends here -->

            {% endblock %}