{% extends "base.html" %}

{% block content %}

<!-- artist_profile.html content starts here -->

<div class="container py-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <img src="/static/images/nobody.jpg" class="rounded-circle img-fluid mb-3" alt="Profile Picture" width="150">
            <h3 class="card-title">Name</h3>
            <h4 class="card-subtitle mb-3 text-muted">Location</h4>
            <p class="card-text">About</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- artist_profile.html content ends here -->

{% endblock %}