body {
    font-family: 'Crimson Text', serif;
    color: #5e3c58;
}

main {
    background-image: url(/static/images/background-texture.jpg);
}

a {
    text-decoration: none;
    color: #5e3c58;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}


.navbar-brand {
    font-weight: bold;
    font-size: x-large;
    color: #5e3c58 !important;
}

.card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: larger;
}

.card-artist {
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

