body {
    font-family: 'Crimson Text', serif;
}

main {
    background:	#bfb5b2;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

h1 {
    color: blueviolet;
}


.welcome {
    background: linear-gradient(0deg, white, rgb(219, 219, 219) 50%, white);
}

.nav {
    background: #c7bbc9;
    font-size: large;
}