{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container py-5 loading-item2">
    <div class="row mb-5">
        <div class="col-md-12">
            <a href="{% url 'home' %}" class="btn btn-secondary mb-3 loading-item1">Back to Home</a>
        </div>

        <!-- User Profile Card -->
        <div class="col-lg-8 mx-auto loading-item2">
            <div class="card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="card-header">
                        <h6 class="mb-0">Role: {{userprofile.get_role_display}}</h6>
                    </div>
                    <a href="{% url 'update_profile' %}" class="btn btn-primary"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                </div>
                <div class="card-body text-center">
                    {% if "placeholder" in userprofile.profile_image.url %}
                    <img class="rounded-circle img-fluid mb-3" src="{% static 'images/nobody.jpg' %}"
                        alt="Profile Picture" width="150">
                    {% else %}
                    <img src="{{ userprofile.profile_image.url }}" class="rounded-circle img-fluid mb-3"
                        alt="Profile Picture" width="150">
                    {% endif %}
                    <h2 class="card-title">{{userprofile.display_name}}</h2>
                    <h5 class="card-subtitle mb-3 text-muted">{{userprofile.location}}</h5>
                    <p class="card-text">{{userprofile.about}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{% url 'account_change_password' %}" class="btn btn-primary">Manage your Password</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteProfileModal">
                        Delete Profile
                    </button>
                </div>
            </div>
        </div>
        {% if user.is_authenticated and user.userprofile.is_artist %}
        <!-- Pending Artworks Card -->
        <div class="col-lg-8 mx-auto mt-3 loading-item2">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Artworks pending approval</h4>
                </div>
                <div class="card-body">
                    <div class="album py-5">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                {% for art in draft_object_list %}
                                <div class="col">
                                    <div class="card shadow-sm artwork">
                                        <div class="card-img-container position-relative overflow-hidden">
                                            {% if not art.art_image or "placeholder" in art.art_image.url %}
                                            <img class="card-img-top" src="{% static 'images/placeholder_image.png' %}"
                                                alt="{{ art.title }}">
                                            {% else %}
                                            <img class="card-img-top" src=" {{ art.art_image.url }}"
                                                alt="{{ art.title }}">
                                            {% endif %}
                                        </div>
                                        <div
                                            class="artwork-title position-absolute w-100 h-100 d-flex flex-column align-items-center justify-content-center d-none d-lg-flex">
                                            <p class="text-white mb-4">{{ art.title }}</p>
                                            <div class="d-flex">
                                                <button class="btn btn-edit" data-bs-toggle="modal"
                                                    data-bs-target="#editArtModal-{{ art.slug }}">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <button class="btn btn-delete-artwork" data-bs-toggle="modal"
                                                    data-bs-target="#deleteArtModal-{{ art.slug }}">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body d-block d-lg-none">
                                            <h5 class="card-title">{{ art.title }}</h5>
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-edit" data-bs-toggle="modal"
                                                    data-bs-target="#editArtModal-{{ art.slug }}">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <button class="btn btn-delete-artwork" data-bs-toggle="modal"
                                                    data-bs-target="#deleteArtModal-{{ art.slug }}">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Edit Draft Artwork Modal -->
                                    <div class="modal fade" id="editArtModal-{{ art.slug }}" tabindex="-1"
                                        aria-labelledby="editArtModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editArtModalLabel">Edit Draft Artwork
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="editArtForm" method="post"
                                                        action="{% url 'art_edit' art.slug %}">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <label for="title" class="form-label">Title</label>
                                                            <input type="text" class="form-control" id="title"
                                                                name="title" value="{{ art.title }}">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="about" class="form-label">About</label>
                                                            <textarea class="form-control" id="about"
                                                                name="about">{{ art.about }}</textarea>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="price" class="form-label">Price</label>
                                                            <input type="text" class="form-control" id="price"
                                                                name="price" value="{{ art.price }}">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="year" class="form-label">Year</label>
                                                            <input type="text" class="form-control" id="year"
                                                                name="year" value="{{ art.year }}">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="condition" class="form-label">Condition</label>
                                                            <select class="form-control" id="condition"
                                                                name="condition">
                                                                <option value="0"
                                                                    {% if art.condition == 0 %}selected{% endif %}>New
                                                                </option>
                                                                <option value="1"
                                                                    {% if art.condition == 1 %}selected{% endif %}>Used
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" form="editArtForm"
                                                        class="btn btn-primary">Save
                                                        changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Delete  draft artwork confirmation modal -->
                                    <div class="modal fade" id="deleteArtModal-{{ art.slug }}" tabindex="-1"
                                        aria-labelledby="deleteArtModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteArtModalLabel">Delete draft?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete your draft?
                                                    This action cannot be undone.
                                                </div>
                                                <form id="deleteArtForm" method="post"
                                                    action="{% url 'art_delete' art.slug %}">
                                                    {% csrf_token %}
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="w-100 d-flex justify-content-center my-auto text-center">
                                    <h6>You have no artwork pending review!</h6>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Delete Profile Modal -->
        <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteProfileModalLabel">Delete Profile?
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your profile? This action cannot be
                        undone.
                    </div>
                    <form id="deleteProfileForm" method="post" action="{% url 'delete_user_profile' %}">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endblock content %}