{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h1 class="card-title">{% trans "Sign Up" %}</h1>
          <p class="card-text">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          <form class="signup" id="signup_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}