{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'home' %}" class="btn btn-secondary mb-3">Back to Artwork</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <img src="/static/images/placeholder_image.png" class="img-fluid" alt="Artwork Image">
            </div>
            <div class="col-md-3">
                <h3 id="artwork-title">{{ art.title }}</h3>
                <p id="artist-name">{{ art.artist }}</p>
                <p id="location">Location</p>
                <p id="price">{{ art.price }}</p>
                <p id="year">{{ art.year }}</p>
                <p id="condition">Condition</p>
                <h5>About</h5>
                <p id="about-artwork">{{ art.about }}</p>
                <button class="btn btn-primary">Contact Seller</button>
                <button class="btn btn-secondary">Like Artwork</button>
                <!-- Button to trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Review
                    Artwork</button>

                <!-- Modal to be displayed -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Review Artwork</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ review_form|crispy }}
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Submit Review</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        {% for review in reviews %}
                        <div class="review">
                            <h5>{{ review.author.username }}</h5>
                            <p>{{ review.body }}</p>
                            <p>Rating: {{ review.rating }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% endblock %}