{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
{% if not user.is_authenticated %}
<div class="row justify-content-center text-center">
  <div class="col-12 col-md-6 my-5">
    <h2>Welcome to Virtual Artistry</h2>
    <p>It seems you aren't logged in...</p>
    <p>Login or register to have all features avaliable to you.</p>
  </div>
</div>
{% endif %}
<div class="row">
  <button class="btn btn-primary" href="#">Filters</button>
</div>

<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        {% for art in object_list %}
        <a href="{% url 'art_details' art.slug %}">
          <div class="card shadow-sm">
            {% if not art.art_image or "placeholder" in art.art_image.url %}
            <img class="card-img-top" src="{% static 'images/placeholder_image.png' %}" alt="artwork image">
            {% else %}
            <img class="card-img-top" src=" {{ art.art_image.url }}" alt="{{ art.title }}">
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{art.title}}</p>
              <p class="card-text">{{art.artist}}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}

      <!-- index.html content ends here -->

      {% endblock %}