{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
{% if not user.is_authenticated %}
<div class="row justify-content-center text-center loading-item2">
  <div class="col-12 col-md-6 my-5">
    <h2>Welcome to Virtual Artistry</h2>
    <p>It seems you aren't logged in...</p>
    <p>Login or register to have all features avaliable to you.</p>
  </div>
</div>
{% endif %}
<button class="btn btn-primary loading-item2" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa-solid fa-filter"></i>
</button>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filters</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form method="get">
      {{ filter.form.as_p }}
      <button type="submit">Filter</button>
    </form>
  </div>
</div>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="masonry row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
      {% for art in object_list %}
      <div class="col mb-4">
        <div class="card shadow-sm loading-item3">
          <a href="{% url 'art_details' art.slug %}">
            {% if not art.art_image or "placeholder" in art.art_image.url %}
            <img class="card-img-top" src="{% static 'images/placeholder_image.png' %}" alt="artwork image">
            {% else %}
            <img class="card-img-top" src=" {{ art.art_image.url }}" alt="{{ art.title }}">
            {% endif %}
            <div class="card-body">
              <p class="card-text card-title">{{art.title}}</p>
              <p class="card-text card-artist">{{art.artist}}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- index.html content ends here -->

{% endblock %}