{% load static %}

{% url 'home' as home_url %}
{% url 'artists' as artists_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Virtual Artistry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light loading-item1 sticky-top">
        <a class="navbar-brand" href="{% url 'home' %}">Virtual Artistry</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Artwork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artists' %}">Artists</a>
                </li>
                {% if user.is_authenticated and user.userprofile.is_artist %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_advert' %}">Create Advert</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'help' %}">Help</a>
                </li>
            </ul>
            <div class="navigation-buttons d-flex ms-auto">
                <ul class="navbar-nav">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link d-lg-none" href="{% url 'profile' %}">Profile</a>
                        <!-- This will be visible on screens smaller than lg -->
                        <a class="nav-link d-none d-lg-block" href="{% url 'profile' %}"><i
                                class="fa-solid fa-user"></i></a>
                        <!-- This will be visible on screens larger than lg -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="auth-text">
                <span class="navbar-text text-muted">
                    {% if user.is_authenticated %}
                    You are logged in as {{ user }}
                    {% else %}
                    You are not logged in
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>


    <main class="flex-grow-1">
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} text-center" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer class="footer mt-auto py-3 bg-light loading-item1">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start">
                    <span class="text-muted">© 2024 VirtualArtistry. All rights reserved.</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- JQuery JS -->
    <script src="/static/js/main.js"></script>

    <!-- Masonry JS Library -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <!-- Masonry JS -->
    <script src="/static/js/masonry.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- FontAwesome JS -->
    <script src="https://kit.fontawesome.com/cd6b09716b.js" crossorigin="anonymous"></script>

    {% block extras %}
    {% endblock %}

</body>

</html>